@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Env: @ViewBag.Env</h1>
    <p>Sample setting on appseting based on environment: @ViewBag.SampleValueInAppSetting</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
